.events {
  margin-bottom: 100px;

  background-color: @white;
  clip-path: polygon(0% 0%, 0% 100%,75% 98%, 100% 100%, 100% 0%, 25% 2%);

  padding: 140px 0 100px;
  @media @bw1340 {
    padding: 90px 0 100px;
  }
  @media @bw768 {
    padding: 80px 0 100px;
  }
  &__listing {
    margin-bottom: 100px;
  }
}
