@import "src/styles/global/mixins.less";

.page-footer {
  display: flex;
  position: relative;
  width: 100%;

  /*@media @bw1660 {
    height: 111px;
  }

  @media @bw768 {
    height: 70px;
  }*/

  &__container {
    .container;
  }

  &__lines{
    display: flex;
    flex-direction: row;
    --gap: 100px;
    column-gap: var(--gap);
    width: 100%;
    max-width: 1414px;
    margin: 0 auto 60px;

    @media @bw1660 {
      --gap: 90px;
    }

    @media @bw1340 {
      --gap: 50px;
    }

    @media @bw768 {
      --gap: 20px;
    }

    &-line {
      width: calc(50% - var(--gap) / 2);;
      height: 2px;
      background: linear-gradient(270deg, #1C1B1B 0%, rgba(255, 255, 255, 0) 82.86%);
    }

    .line-left {
      background: linear-gradient(90deg, #1C1B1B 0%, rgba(255, 255, 255, 0) 100%);
    }
  }

  &__information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media @bw768 {
      flex-direction: column;
    }
  }

  &__information-links {
    position: relative;
    padding-left: 26px;
    margin: 0 40px 60px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    top: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      background-color: @red;
    }
  }


  &__information-link {
    text-decoration: none;
    font-weight: 600;
    line-height: 22px;
    display: flex;
    color: @black;

    &:hover {
      color: @red_dark;
      transition: color 0.2s;
    }
  }
}